<canvas id="{{@chartId}}" class="chart" {{did-insert this.initialize}}></canvas>
<BsButtonGroup @value={{this.chartType}} @type="radio" @onChange={{this.onTypeChange}} as |bg|>
    <bg.button @value="pie">Pie</bg.button>
    <bg.button @value="doughnut">Doughnut</bg.button>
    <bg.button @value="bar">Bar</bg.button>
</BsButtonGroup>
{{#if this.showThreshold}}
<div class="chart-control-container">
    <label for="chart-minimum-input">Minimum:</label>
    <input id="chart-minimum-input" inputmode="numeric" pattern="[0-9]*" min={{this.thresholdMin}}
        max={{this.thresholdMax}} value={{this.threshold}} {{on "change" this.onThresholdChange}} />
</div>
{{/if}}
{{#if this.useFactionFilter}}
<div class="chart-control-container">
    <BsButtonGroup @value={{this.factionFilter}} @type="radio" @onChange={{this.onFactionFilterChange}} as |bg|>
        <bg.button @value={{undefined}}>All</bg.button>
        <bg.button @value="Horde">Horde</bg.button>
        <bg.button @value="Alliance">Alliance</bg.button>
    </BsButtonGroup>
</div>
{{/if}}
{{#if this.useGuildFilter}}
<div class="chart-control-container">
    <label for="chart-guild-filter-input">Minimum:</label>
    <input id="chart-guild-filter-input" inputmode="numeric" value={{this.guildFilter}} {{on "change"
        this.onGuildFilterChange}} placeholder="Filter guild..." />
</div>
{{/if}}