{{page-title "Home"}}
<a href="https://turtle-wow.org" class="logo">
    <img class="logo" src="/assets/turtle-wow-logo.png" alt="Turtle WoW" />
</a>

<Panel @size="medium">
    <h3 class="title text-center">WELCOME TO THE TURTLE WOW CENSUS</h3>
    <p class="full-width">Do you want to know what the faction balance looks
        like on Turtle WoW? Or which race is the most popular? Do you want to see what's the class composition in your
        guild? You've come to the right place!</p>
    <p class="full-width">A few things to keep in mind:</p>
    <p class="label full-width">
        • All data is being gathered by a single person using <a
            href="https://github.com/Lexiebean/CensusPlusTurtle">CensusPlusTurtle</a> by Lexiebean.
        <br />
        • Characters that have been inactive for a longer period of time are not included.
        <br />
        • Uploading census data is currently not supported.
    </p>
    <p class="label full-width">Enjoy browsing! For feedback, hit me up on Discord: Spuxx#8010</p>
    {{!-- <h4 class="title text-center">QUICK FACTS</h4> --}}
    <div class="quick-fact">
        <h5 class="title">{{@model.scannedCharacters}}</h5>
        <p>characters scanned</p>
    </div>
    <div class="quick-fact">
        <h5 class="title">{{@model.maxLevelCharacters}}</h5>
        <p>level 60 characters</p>
    </div>
    <div class="quick-fact">
        <h5 class="title">{{@model.foundGuilds}}</h5>
        <p>guilds found</p>
    </div>
    <div class="quick-fact">
        <p>updated on</p>
        <h5 class="title">{{@model.lastUpdated}}</h5>
    </div>

</Panel>